cassandra-vs-mariadb/BigDataProject2WithMavennbproject/private/
cassandra-vs-mariadb/BigDataProject2WithMavennbproject/build/
cassandra-vs-mariadb/BigDataProject2WithMavennbproject/nbbuild/
cassandra-vs-mariadb/BigDataProject2WithMavennbproject/dist/
cassandra-vs-mariadb/BigDataProject2WithMavennbproject/nbdist/
cassandra-vs-mariadb/BigDataProject2WithMavennbproject/.nb-gradle/