NUM_NODES                = 1
AWS_KEY                  = ""
AWS_SECRET               = ""
AWS_SUBNET_ID            = ""
AWS_SECURITY_GROUP_ID    = ""
AWS_KEYNAME              = "dev"
AWS_KEYPATH              = "keys/dev.pem"
